Samtools compilation details:
    Features:       build=configure curses=yes 
    CC:             gcc
    CPPFLAGS:       -g -O0 -fdebug -Wall -Wextra -DDEBUG -v
    CFLAGS:         -g -O0 -fdebug -Wall -Wextra -DDEBUG -v
    LDFLAGS:        -g -Wl,--verbose
    HTSDIR:         ../htslib
    LIBS:           
    CURSES_LIB:     -lncursesw

HTSlib compilation details:
    Features:       build=configure libcurl=yes S3=yes GCS=yes libdeflate=yes lzma=yes bzip2=yes plugins=no htscodecs=1.6.1-3-g7605e0a
    CC:             gcc
    CPPFLAGS:       -g -O0 -fdebug -Wall -Wextra -DDEBUG -v
    CFLAGS:         -g -O0 -fdebug -Wall -Wextra -DDEBUG -v -fvisibility=hidden
    LDFLAGS:        -g -Wl,--verbose -fvisibility=hidden 
